/* Note for height (Keep height so it equals 100vh. Then it wont scroll 

  #header:  15vh
  #header bottom border: 0.25vh
  #sidebar: 84.5 vh
  #sidebar bottom border: 0.25vh

  = 100vh 
  = 100%
*/

/* All */
body{
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
  color: inherit;
}

p.p {
  margin: 0;
  padding: 0;
}

p#p {
  margin: 0px;
  margin-top: 1vh;
  margin-left: 1px;
  padding: 0px;
}

div#main {
  display: flex;
  flex-direction: row;
}

/* App.js */
#header {
  display: flex;
  flex-direction: row;

  border-style: solid;
  border-width: 0.25vh;
  border-bottom-color: darkgrey;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;

  height: 15vh;
}

#enable-sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 5vh;
  font-weight: bold;

  width: 7%;

  /* background-color: red; */
}

.button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button:hover {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: #423A51;

  height: 100%;
  width: 100%;
}

#keep-lotion-center {
  /* background-color: red; */

  width: 7%;
}

#title-lotion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;

  /* background-color: green; */
}

#title-lotion-title {
  margin: 1%;
  margin-bottom: 0.5%;
}

#title-lotion-subtext {
  margin-top: 0px;
  margin-bottom: 0.5%;
  color: gray;
  font-weight: bold;
}

/* Default.js */

#default {
  display: flex;
  align-items: center;
  justify-content: center;

  color: gray;
  font-weight: bold;
  font-size: x-large;

  width: 100%;
  min-height: 72.75vh;

  /* background-color: orange; */
}

/* Sidebar.js */
#sidebar-to-hide {
  border-style: solid;
  border-width: 0.25vh;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-color: darkgray;

  margin-top: 0%;
  min-width: 20vw;
  height: 84.75vh;

  /*background-color: gray;*/
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  border-color: inherit;

  /*background-color: beige;*/
}

#add-notes {
  flex: 1;
  display: flex;
  align-items: center;
  
  border-style: solid;
  border-bottom-width: 0.25vh;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: inherit;
  
  font-weight: bold;
  font-size: 4vh;

  height: 12vh;

  /* background-color: aqua; */

}

#add-notes-left {
  flex: 9;

  margin-top: 1%;
  margin-bottom: 1%;


/* background-color: blue; */
}

#add-notes-right { /* Add notes button */
  flex: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1%;
  margin-bottom: 1%;

  text-align: center;
  height: 100%;

  /* background-color: azure; */
}

#current-notes {
  flex: 9;
  overflow-y: auto;
  width: 20vw;
  /* background-color: brown; */
}

.sidebar-note {
  border-style: solid;
  border-width: 0.25vh;
  border-bottom-width: 0.25vh;
  border-color: darkgray;

  margin: 0.5vh;

  min-height: 13vh;
  max-height: 14vh;
  
}

.sidebar-note:hover {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0.25vh;
  border-color: darkgray;
  
  cursor: pointer;
  color: white;

  background-color: #423A51;

  text-decoration: none;
}

.sidebar-note.selected {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0.25vh;
  border-color: darkgray;

  color: white;

  background-color: #423A51;

  min-height: 13vh;
  max-height: 14vh;

  text-decoration: none;
}

.sidebar-note-title {
  color: inherit;
  font-weight: bold;

  text-decoration: none;
}

.sidebar-note-metadata {
  font-size: x-small;
  margin-left: 0.25vh;
}

.sidebar-note-contents {
  margin-top: 5%;

  font-size: medium !important;
  
}

/* Scrollbar settings */
#current-notes::-webkit-scrollbar {
  width: 1vh;
}
#current-notes::-webkit-scrollbar-track {
  border-radius: 10px;
}
#current-notes::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 10px;
}
#current-notes::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

/* Notes.js */
#notes {
  margin: 0px;
  min-width: 79.85vw; /* Idk why it has to be this width but this keeps the page filled */
  width: 100%;
  height: 84.75vh;
  
  overflow-y: auto;

  /* background-color: darkmagenta; */
}

#notes-overview {
  display: flex;
  flex-direction: row;

  min-height: 12vh;

  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0.25vh;
  border-style: solid;
  border-color: darkgray;


}

#notes-overview-seperation {
  width: 55%;

   /* background-color: red;  */
}

#notes-title-and-date {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-width: 50%;
  max-width: 75%;

   /* background-color: blueviolet;  */
}

#notes-title {
  border: 0px;
  outline: none;
  flex: 3;


  font: inherit;
  font-size: larger;

   /* background-color: blanchedalmond;  */
}

#notes-date {
  flex: 2;
  margin-left: 5px;
  margin-bottom: 5px;

  font-size: small;
  color: gray;
}

#notes-save-and-delete {
  display: flex;
  justify-content: right;
  align-items: right ;
  width: 15%;

   /* background-color: bisque;  */
}

.notes-button {
  background: none;
	border: none;

  font-weight: bold;

	cursor: pointer;

  height: 100%;
  width: 5vw;
}

.notes-button:hover {
  background: none;
	border: none;

  font-weight: bold;

	cursor: pointer;
  background-color: #423A51;

  height: 100%;
  width: 5vw;
}


#notes-editor {
  
  max-height: 72.75vh;

  margin-left: 5px;

}

.quill  .ql-container{
  min-height: 63vh;
  min-width: 79.75vw;
  border-bottom: 0px !important; 
  
}

/* Scrollbar settings */
#notes::-webkit-scrollbar {
  width: 1vh;
}
#notes::-webkit-scrollbar-track {
  border-radius: 10px;
}
#notes::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 10px;
}
#notes::-webkit-scrollbar-thumb:hover {
  background: gray; 
}
